@page
@model MockFotohokje.Pages.Results.DetailsModel
@{
}
<h1>Result Details</h1>
<div>
    @foreach(string pic in Model.Pictures)
    {
        <img style="height: 400px; width: auto" src="@pic" />
    }
</div>
<a id="back-b" asp-page="/Results/Index" class="btn btn-dark">Back</a>
